.background-oportunit {
    background-color: #F8F8FE;
    padding: 50px 0;
    margin-top: 200px;
}

.job-list {
    margin-top: 50px;
}

.pagination{
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagination .nav-tabs{
    border: 0;
}

.pagination .nav-item .nav-link{
    border-radius: 50%;
    border: 0;
}

.pagination .nav-item {
    margin-left: 25px;
}

/*Detalhe vaga*/

.job-description {
    margin-top: 50px;
}

.job-description .local{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    margin-bottom: 25px;
}

.job-description h5 {
    font-weight: 800;
}

.job-detail img{
   margin-bottom: 15px;
}

.job-detail {
    margin-top: 100px;
}

.icon-detail-job {
    display: flex;
    flex-wrap: wrap;
}

.icon-detail-job span{
    margin-right: 50px;
}

.requirements {
    padding-left: 25px;
    list-style: none;    
}

.requirements li{
    color: #948E8E;
    margin-bottom: 15px;   
}

.requirements li:before{
    content: url('../../assets/image/icon/lista-icon.svg');
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    position: absolute;
    left: -5px;
}

.requirements li::marker{
    margin-top: 15px;
}

