.background-oportunit {
    background-color: #F8F8FE;
    padding: 50px 0;
    margin-top: 200px;
}

.job-list {
    margin-top: 50px;
}

.pagination{
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagination .nav-tabs{
    border: 0;
}

.pagination .nav-item .nav-link{
    border-radius: 50%;
    border: 0;
}

.pagination .nav-item {
    margin-left: 25px;
}

/*Detalhe vaga*/

.job-detail img{
   margin-bottom: 15px;
}

.job-detail {
    margin-top: 125px;
}
