.nav-item {
    align-items: center;
    display: flex;
}

.nav-link {
    color: #000000 !important;     
}

.navbar-nav .nav-item {
    margin-left: 30px;
}

.dropdown-header .dropdown-toggle::after {
    content: none;
}