.card {
    margin-bottom: 25px;  
    min-height: 450px;  
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03); 
    transition: 0.3s;    
    cursor: pointer;
    border: 2px solid #2013DB;
}

.card img {
    margin: 25px auto 0;
}

.card-img-top {
    width: auto;    
}

.card-title {
    font-weight: 800;
}

.icon-info {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.icon-info svg{
    margin-right: 7px;
}

.icon-info span{
    margin-top: 5px;
}

.card-horizontal {    
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: 0;
    min-height: 350px;
}

.card-horizontal img{
    margin-right: 50px;
    margin-left: 50px;
}

@media only screen and (max-width: 768px) {
    .card-horizontal {
        flex-direction: column;
    }
}